<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap4.min.css">
</head>
<body>
<div class="container">
    <h2>Books</h2>
    <a href="/add" class="btn btn-success">Add Book</a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>
                    <a href="/update/{{ book.id }}" class="btn btn-primary">Edit</a>
                    <form action="/delete/{{ book.id }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
